link(rel="stylesheet" href="/bower_components/timetable.js/dist/styles/timetablejs.css")
link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/public/css/default.css")
link(rel="stylesheet" href='/bower_components/jquery-confirm2/dist/jquery-confirm.min.css')

script(src="/bower_components/jquery/dist/jquery.min.js")
script(src='/bower_components/jquery-confirm2/dist/jquery-confirm.min.js')
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/timetable.js/dist/scripts/timetable.min.js")
